/*-----------------------BODY--------------------------*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Reseteamos margin para poder poner el que queramos*/
    background: linear-gradient(135deg, #d8a1aed1, #f0cdd9); /* Fondo degradado*/
    overflow: hidden;
}



.msg:last-child {
    margin-bottom: 0;
}

.msg h5 {
    font-size: 1.1rem;
}

.msg_text {
    font-size: 1rem;
    position: relative;
    bottom: 15px;
    margin-right: 1rem;
}


.foto_perfil{
    border-radius: 50%;
    max-height: 4rem;
    max-width: 4rem;
    min-height: 4rem;
    min-width: 4rem;
}


/*---------------------SETTINGS-------------------*/

.profile_settings_top {
    border-bottom: 1.5px solid rgb(196, 78, 113);
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.settings_btn {
    padding: .6rem;
    background-color: rgb(140, 140, 140);
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 10rem;
    transition: all 0.3s ease;
    margin-bottom: .4rem;
    font-size: .9rem;
}

.settings_btn_img {
    padding: .6rem;
    background-color: rgb(157, 157, 157);
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 9rem;
    transition: all 0.3s ease;
    margin-bottom: .4rem;
    font-size: .9rem;
    display: flex;
    justify-content: center;
}

.update_img_btn {
    margin-left: .4rem;
    width: 10rem;
}

.settings_btn:hover {
    background-color: rgb(53, 53, 53);
}

.settings_btn_img:hover {
    background-color: rgb(53, 53, 53);
}

.profile_settings_top h3 {
    font-size: 1.4rem;
}

.profile_settings_top i {
    font-size: 2rem;
    color: #a21c42;
}

/*-----------------------LOGIN ADMIN---------------------*/
#admin {
    color: #d5214e;
    transition: all 0.3s ease;
}

#lbl_admin {
    cursor: pointer;
    position: relative;
    top: 2rem;
}

#admin:hover {
    color: rgb(161, 31, 53);
}

#atras {
    position: relative;
    right: 14rem;
    bottom: 7rem;
    cursor: pointer;
    color: rgb(84, 84, 84);
    font-size: large;
}

#atras_admin {
    position: relative;
    right: 21.5rem;
    bottom: 18.5rem;
    cursor: pointer;
    color: rgb(84, 84, 84);
    font-size: large;
}

#atras_admin:hover {
    color: #ce2f5e
}

#atras:hover {
    color: #ce2f5e
}

#msg_error {
    position: relative;
    bottom: 10rem;
    height: .1rem;
    font-size: .9rem;
}

#separator {
    position: relative;
    margin-top: 34rem;
    bottom: 0.6rem;
}

/*-------------------------FOOTER------------------------*/
footer p {
    font-size: .8rem;
}

.footer_background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100vw;
    height: 5vh;
    background: linear-gradient(135deg, #cc667e, #efced6);
    bottom: 0;
}

footer nav {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-label a {
    color: #981d42;
    font-weight: bold;
    text-decoration: underline;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.contact-label a:hover {
    color: #811938;
}

/*----------------------LOGOS----------------------*/
#logo_inicio {
    width: 30rem;
    position: relative;
    bottom: 40rem;
    pointer-events: none; /*Para que no intervenga en otros elementos*/
}

#logo_reg {
    width: 28rem;
    position: relative;
    bottom: 38rem;
    pointer-events: none;
}

/*----------------------SOLO AMIGOS----------------------*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; /* Un nivel debajo de la imagen */
    opacity: 1; /* Visible al principio */
    transition: opacity 2s ease-in-out; /* Animación de desvanecimiento */
    pointer-events: none;
}

#overlay.fade-out {
    opacity: 0; /* Desaparece junto con la imagen */
}

/* Imagen centrada y con efecto de desvanecimiento */
#solo_amigos {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 30rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#solo_amigos.fade-out {
    opacity: 0; /* Hacer que la imagen desaparezca */
}

/* Imagen en su nueva posición después de reaparecer, con tamaño reducido */
#solo_amigos.new-position {
    top: 0;
    left: 10rem;
    opacity: 0; /* Comienza invisible para el efecto de aparecer */
    transform: scale(0.35);
    transition: opacity 2s ease-in-out, top 2s ease-in-out, left 2s ease-in-out, transform 2s ease-in-out; /* Incluye la transición de tamaño */
}

/* Clase para que reaparezca */
#solo_amigos.appear {
    opacity: 1;
    /* Aparecerá gradualmente */
}

/*----------------------REGISTROS-----------------*/
.campos_reg input {
    width: 15rem;
    padding: .7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1rem;
    margin-top: .4rem;
}

#mostrarPassword {
    position: relative;
    left: 12rem;
    bottom: 5.4rem;
    cursor: pointer;
    color: rgb(96, 70, 77);
}

#mostrarPassword_reg {
    position: relative;
    left: 11.5rem;
    bottom: 5.2rem;
    cursor: pointer;
    color: rgb(96, 70, 77);
    margin-left: 11.5rem;
}

#mostrarPassword_reg i {
    margin-top: 1.2rem;
}

#mostrarPassword:hover {
    color: #a1274c;
}

#mostrarPassword_reg:hover {
    color: #a1274c;
}

#mostrarPassword_admin {
    position: relative;
    left: 12rem;
    bottom: 3rem;
    cursor: pointer;
    color: rgb(96, 70, 77);
}

#mostrarPassword_admin:hover {
    color: #a1274c;
}

.lbl_registro {
    position: relative;
    right: 6rem;
}

#registrarse {
    /* Usamos # para selector de IDs */
    color: #d5214e;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    left: 8rem;
    bottom: 1.25rem;
    transition: all 0.3s ease;
}

#registrarse:hover {
    /* Usamos # para selector de IDs */
    color: #a1274c;
}


.campos_log label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

#lbl_usuario {
    margin-top: 40rem;
}

.lbl_terms {
    text-decoration: underline;
    color: #cf5166;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lbl_terms:hover {
    color: rgb(170, 37, 77);
}

#terms {
    margin-top: 1rem;
    margin-bottom: -1rem;
    z-index: 1;
}

#terms input {
    cursor: pointer;
}

#check {
    cursor: pointer;
}

#submit_new_user {
    display: block;
    padding: 1rem;
    background-color: #ce2f5e;
    margin: auto;
    color: white;
    border: none; /* Sin bordes*/
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 20rem;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

#submit_new_user:hover {
    background-color: #ad2850;
}

.campos_log input:focus {
    outline: none; /* Elimina el contorno naranja */
    border-color: #ce2f5e; /* Cambia el color del borde al hacer focus */
}

.reg_input:focus {
    outline: none; /* Elimina el contorno naranja */
    border-color: #ce2f5e; /* Cambia el color del borde al hacer focus */
}

#reg_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campos_log input {
    width: 20rem;
    padding: .7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: medium;
}

.post_btn {
    padding: .8rem;
    background-color: #ca3a5c;
    margin-left: 3rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 8rem;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.post_btn:hover {
    background-color: #b93856;
    transform: scale(1.05);
}

.btn_login {
    padding: .8rem;
    background-color: #ce2f5e;
    margin: auto;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    top: .1rem;
    width: 25rem;
    transition: all 0.3s ease;
    position: relative;
}

.btn_login:hover {
    background-color: #ad2850;
}



/*---------------------------------------------------------MEDIA QUERIES PARA RESOLUCIONES MAS PEQUEÑAS--------------------------------------------------------*/

@media (min-width: 1000px) and (max-width: 1649px) {

    /*---------------------MODALS----------------------*/
    .modal_edit_name {
        width: 30vw;
        height: 15vh;
    }

    .modal_edit_password {
        width: 30vw;
        height: 33vh;
    }

    .modal_view_friends {
        height: 60vh;
        width: 30vw;
    }

    .modal_friend_requests {
        height: 60vh;
        width: 30vw;
    }

    .modal_send_msg {
        height: auto;
    }

    .modal_view_msg {
        height: 60%;
        width: 30%;
    }

    .modal_container_comments {
        padding: 10px 25px;
        max-height: 40rem;
    }

    .view_terms_modal {
        width: 40vw;
        height: auto;
        max-height: 70%;
    }

    .requests_list {
        max-height: 70%;
    }

    .delete_post_modal {
        width: 30%;
        height: 25%;
        padding-bottom: 2.5rem;
    }

    .userAndChat_list {
        transform: scale(0.9);
    }

    .user_list {
        max-height: 28vh;
    }

    .chat_list {
        max-height: 28vh;
    }

    .msg_history {
        max-height: 30vh;
    }

    .post_container {
        width: 80%;
    }

    .setting_title, p, button {
        margin-left: 0;
    }

    .logout_popup_content {
        padding: 2.5rem;
    }

    /*------------------------CONTAINERS-----------------------*/
    .container_login {
        transform: scale(.8);
    }

    .container_login img {
        width: 50%;
    }

    .container_left_home ul {
        transform: scale(.95);
        padding-inline-start: 1rem;
    }

    .container_left_home a {
        font-size: 100%;
    }

    .container_left_home {
        width: 11vw;
    }

    *:not(.container_login *, ) {
        font-size: 90%;
    }

    .container_right_home .msg * {
        font-size: .8rem;
    }

    .container_right_home {
        width: 20vw;
        transform: scale(.95);
    }

    .content_main_admin {
        margin-top: 1rem;
    }

    .container_left_admin {
        width: 15rem;
        height: 92vh;
    }

    .container_left_admin ul {
        margin-top: 2rem;
        width: 11rem;
    }

    .container_left_admin ul li {
        margin-top: 2rem;
    }

    .control_block h3 {
        width: 80%;
    }

    .admin_profiles_container {
        /*transform: scale(0.75);*/
        width: 70%;
        overflow-y: auto;
        height: 90%;
        margin-left: 15rem;
    }

    .admin_profiles_container::-webkit-scrollbar {
        width: 10px;
    }

    .admin_profiles_container::-webkit-scrollbar-thumb {
        background-color: #d46888;
        border-radius: 5px;
    }

    .post_search button {
        margin-top: 1rem;
    }

    .post .info_post {
        margin-left: 1rem;
    }

    .post .descr {
        width: 22rem;
        max-width: 22rem;
        overflow-y: auto;
        max-height: 7rem;
    }

    .post_buttons_container {
        margin-left: 1rem;
    }

    #contenido_msgs_admin {
        max-height: 40vh;
        padding-right: 1rem;
    }

    .post .info_post {
        width: 22rem;
    }

    .post_list {
        max-height: 60vh;
    }

    .admin_posts_container {
        overflow-y: auto;
        width: 70%;
        margin-left: 15rem;
    }

    #contenido_msgs_admin::-webkit-scrollbar {
        width: 10px;
    }
    
    #contenido_msgs_admin::-webkit-scrollbar-thumb {
        background-color: #d46888;
        border-radius: 5px;
    }

    .admin_posts_container::-webkit-scrollbar {
        width: 10px;
    }
    
    .admin_posts_container::-webkit-scrollbar-thumb {
        background-color: #d46888;
        border-radius: 5px;
    }

    .admin_msgs_container {
        margin-left: 15rem;
    }

    .comment_section_modal {
        width: 62%;
        height: 60%;
    }

    /*-------------LOGOS E IMAGENES--------------*/
    .logo_nav_left {
        width: 55%;
        margin-left: 5rem;
    }

    .logo_nav_left img {
        width: 13rem;
    }

    /* Botón de subir imagen */
    .upload_image {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
    }

    .upload_image i {
        font-size: .8rem;
    }

    #solo_amigos {
        position: fixed;
        top: 50%;
        left: 45%;
        width: 20rem;
    }

    #solo_amigos.new-position {
        top: -1rem;
        left: 0;
    }

    .search_box {
        padding: .7rem;
    }

    .navbar_right {
        width: 90%;
    }

    .msg_search_bar {
        padding: 0 !important;
        width: 19vw !important;
    }

    .crear_post #crear_post_text_area {
        width: 25rem;
    }

    .crear_post {
        width: 86%;
    }

    .post_btn {
        margin-left: 2rem;
        padding: .6rem;
        width: 6rem;
        font-size: 90%;
    }

    .perfil {
        width: 4rem;
        height: 4rem;
        max-width: 4rem;
        max-height: 4rem;
        border-radius: 50%;
    }

    .edit_btn{  
        right: 17.5%;
    }

    .close_editPost_modal {
        top: -3.9rem;
        left: 41rem;
    }

    .modal_edit_email {
        width: 35vw;
    }

    .delete_user_modal{
        width: 30vw;
        height: 24% ;
    }

    .modal_edit_user{
        width: 36vw;
        height: 42%;
    }

    .delete_comment_modal{
        width: 30vw;
        height: 26%;
    }

    .modal_edit_comment{
        max-height: 70%;
    }

    #comment_edited_textarea{
        max-height: 12rem;
    }
}
